body {
    direction: rtl;
background-image:url(../image/homebg.jpeg);
background-repeat:no-repeat;
background-size:cover;
}

#container {
    width: 960px;
    margin: 0 auto;
}

#head1 {
    display: block;
    float: right;
}

nav ul li {
    display: inline-block;
    float: right;
}

    nav ul li a {
        display: inline-block;
        background-color: #2f2f33;
        color: white;
        width: 200px;
        height: 30px;
        padding-top: 10px;
        text-decoration: none;
        text-align: center;
        font-family:Alef;
        font-size:13pt;
    }

        nav ul li a:hover {
            background-color: #3097D2;
        }

        nav ul li a:active {
            background-color: deepskyblue;
        }
.currentPage {
    background-color: white;
    color: black;
}
nav {
    display: inline-block;
    margin-right:70px;
}
h1{
    margin-top:50px;
    font-size:25pt;
    color:white;
    font-family:Alef;
    text-align:center;
}
p {
    margin-top: 120px;
    font-size: 15pt;
    text-align: center;
    color: white;
    font-family: Alef;
}
