body {
    direction: rtl;
background-image:url(../image/back.jpeg);
background-repeat:no-repeat;
background-size:cover;
}

#container {
    width: 960px;
    margin: 0 auto;
}


nav ul li {
    display: inline-block;
    float: right;
}

    nav ul li a {
        display: inline-block;
        background-color: #2f2f33;
        color: white;
        width: 200px;
        height: 30px;
        padding-top: 10px;
        text-decoration: none;
        text-align: center;
        font-family: Alef;
        font-size: 13pt;
    }

        nav ul li a:hover {
            background-color: #3097D2;
        }

        nav ul li a:active {
            background-color: deepskyblue;
        }


.currentPage {
    background-color: white;
    color: black;
}

#first {
    font-family: Alef;
    font-size: 29pt;
    text-align: center;
    color: black;
    width: 470px;
    position: relative;
    top: 30px;
    right: 210px;
}
#text1 {
    display: inline-block;
    text-align: right;
    float: right;
    padding: 20px;
    border: 1px solid black;
    background-color: whitesmoke;
    color: black;
    width: 200px;
    font-family: Alef;
    position: relative;
    right: 68px;
    top: -332px;
}
#img1 {
    display: inline-block;
    position: relative;
    width: 300px;
    clear: both;
    right: 566px;
    top:90px;
}
#audio2 {
    display: inline-block;
    right: -447px;
    position: relative;
    top: 90px;
}
nav {
    margin-right: 68px;
}
.imgk {
    width: 200px;
    display: inline-block;
    position: relative;
    right: 30px;
    bottom: 65px;
}