body {
    direction: rtl;
background-image:url(../image/back.jpeg);
background-repeat:no-repeat;
background-size:cover;
    height:1060px;

}

#container {
    width: 960px;
    margin: 0 auto;

}

#head1 {
    display: block;
    float: right;
}

nav ul li {
    display: inline-block;
    float: right;
}

    nav ul li a {
        display: inline-block;
        background-color: #2f2f33;
        color: white;
        width: 200px;
        height: 30px;
        padding-top: 10px;
        text-decoration: none;
        text-align: center;
        font-family: Alef;
        font-size: 13pt;
    }

        nav ul li a:hover {
            background-color: #3097D2;
        }

        nav ul li a:active {
            background-color: deepskyblue;
        }

.currentPage {
    background-color: white;
    color: black;
}

#right {
    text-align: center;
    display: inline-block;
    float: right;
    color: black;
    font-family: Alef;
    margin-right: -25px;
    position: relative;
    top: 30px;
}

#left {
    text-align: center;
    display: inline-block;
    float: left;
    color: black;
    font-family: Alef;
    margin-left: -40px;
    position: relative;
    top: -137px;
}

#img1 {
    display: inline-block;
    width: 300px;
    float: right;
    margin-top: 15px;
    position: relative;
    top: 84px;
    left: 337px;
}

#img2 {
    display: inline-block;
    width: 300px;
    float: left;
    margin-top: 15px;
    height: 150px;
    position: relative;
    bottom: 90px;
    right: 329px;
}

#p1 {
    border: 2px solid black;
    background-color: white;
    padding: 20px;
    display: inline-block;
    width: 257px;
    height: 130px;
    float: right;
    position: relative;
    top: 284px;
    right: -638px;
    color: black;
    font-family: Alef;
}

#p2 {
    padding: 20px;
    border: 2px solid black;
    display: inline-block;
    width: 257px;
    height: 130px;
    float: left;
    position: relative;
    bottom: 55px;
    left: 31px;
    color: black;
    font-family: Alef;
    background-color: white;
}

#video {
    display: block;
    position: relative;
    top: -15px;
    right: 13px;
}
nav{
    margin-right:60px;
}
